/*
 *
 * Copyright (c) 2019 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&arduino_spi {
	status = "okay";
	st25r3916@0 {
		compatible = "zephyr,nfc-spi";
		reg = <0>;
		irq-gpios = <&arduino_header 0 0>; /* A0 */
		cs-gpios =  <&arduino_header 16 0>; /* D10 */
		spi-max-frequency = <5000000>;
		label = "ST25R3916";
	};
};

/ {
	nfc_leds {
		compatible = "gpio-leds";
		led_a {
			gpios = <&arduino_header 3 0>; /* A3 */
			label = "LED_A";
		};
		led_b {
			gpios = <&arduino_header 2 0>; /* A2 */
			label = "LED_B";
		};
		led_f {
			gpios = <&arduino_header 1 0>; /* A1 */
			label = "LED_F";
		};
		led_v {
			gpios = <&arduino_header 4 0>; /* A4 */
			label = "LED_V";
		};
		led_ap2p {
			gpios = <&arduino_header 5 0>; /* A5 */
			label = "LED_AP2P";
		};
		led_field {
			gpios = <&arduino_header 13 0>; /* D7 */
			label = "LED_FIELD";
		};

	};
};

